main {
  background-color: #ebeff4;
}

#login {
  background: #f7f7f7;;
}

.error-area {
  .ico-cancel-circled2 {
    font-size: 1.4rem;
  }
}

.edv-login {
  border-bottom: 1px dotted #c9c9c9;
  position: relative;
}

.seperator-text {
  position: absolute;
  bottom: -.85rem;
  background: #f7f7f7;
  padding: 0 1rem;
}

